<p id="notice">{{ notice }}</p>

<div class="heading">
    <div class="row">
        <div class="large-4 columns">
            <h2>Category</h2>
        </div>
        <div class="large-2 columns">
            <h2>Budget           </h2>
        </div>
        <div class="columns large-3"><h2>Last Week</h2></div>
        <div class="columns large-3"><h2>This Week</h2></div>
    </div>
</div>
{{#each categories}}

  <div class="row category">
    {{#each activites }}
      {{#if hasBudget }}
        {{#if hasTotal}}
          <div class="row activity-row">
              <div class="row-12 columns activity-summary" {{bind-attr data-activity-id=activity.id }}>
                  <div class="large-4 columns">
                      {{#link-to 'edit_activity' activity}}
                        {{ activity.name }}
                      {{/link-to }}
                  </div>
                  <div class="large-2 columns">{{ activity.budget }}</div>
                  <div class="large-2 columns activity-time-total">
                      <div class="flot-placeholder has-tip tip-top" data-time-total="{{ @one_week_ago[category.id][:activities][activity.old_id][:total] }}" data-time-budget="{{ activity.budget || '--' }}" style="height:30px; width: 100%;" data-tooltip title="You spent {{ @last_week_compare[category.id][:activities][activity.old_id][:total] }} hours last week, and have planned {{ @today_compare[category.id][:activities][activity.old_id][:total] }}  "></div>
                  </div>
                  <div class="large-1 columns">
                      {{ @one_week_ago[category.id][:activities][activity.old_id][:total] }}
                  </div>
                  <div class="large-2 columns end activity-time-total">
                      <div class="flot-placeholder has-tip tip-top" data-time-total="{{ @next_week[category.id][:activities][activity.old_id][:total] }}" data-time-budget="{{ activity.budget || '--' }}" style="height:30px; width: 100%;" data-tooltip title="You spent {{ @last_week_compare[category.id][:activities][activity.old_id][:total] }} hours last week, and have planned {{ @today_compare[category.id][:activities][activity.old_id][:total] }}  "></div>
                  </div>
                  <div class="large-1 columns">
                      {{ @next_week[category.id][:activities][activity.old_id][:total] }}
                  </div>

              </div>
          </div>
        {{/if}}
      {{/unless}}

    {{/each }}
    <div class="row">
        <div class="row-12 columns category-total">
            <div class="large-4 columns">
                {{#link-to 'category' category}}Total {{ category.name }}
                {{/link-to }}
            </div>
            <div class="large-2 columns end">
                {{ category.budget }}
            </div>
            <div class="large-2 columns end activity-time-total">
                <div class="flot-placeholder has-tip tip-top" data-time-total="{{ @one_week_ago[category.id][:total] }}" data-time-budget="{{ category.budget || '--' }}" style="height:30px; width: 100%;" data-tooltip title="You spent {{ @last_week_compare[category.id][:total] }} hours last week, and have planned {{ @today_compare[category.id][:total] }}  "></div>
            </div>
            <div class="large-1 columns end">
                {{ @one_week_ago[category.id][:total] }}
            </div>
            <div class="large-2 columns end activity-time-total">
                <div class="flot-placeholder has-tip tip-top" data-time-total="{{ @next_week[category.id][:total] }}" data-time-budget="{{ category.budget || '--' }}" style="height:30px; width: 100%;" data-tooltip title="You spent {{ @last_week_compare[category.id][:total] }} hours last week, and have planned {{ @today_compare[category.id][:total] }}  "></div>
            </div>
            <div class="large-1 columns end">
                {{ @next_week[category.id][:total] }}
            </div>
        </div>


    </div>
  </div>
{{/each}}
